version: 2.1

orbs:
  maven: circleci/maven@0.0.12


jobs:
  build:
    docker:
       - image: circleci/jdk8:0.1.1

workflows:
  maven_test:
    jobs:
      - build
      - maven/test # checkout, build, test, and upload test results
