version: 2.1

orbs:
  maven: circleci/maven@0.0.12

jobs:
  jdk8:
    docker:
      - image: circleci/openjdk:8-jdk-stretch
    steps:
      - ...
  jdk11:
    docker:
      - image: circleci/openjdk:11-jdk-stretch
    steps:
      - ...
workflows:
  version: 2
  work:
    jobs:
      - jdk8
      - jdk11


